h1 {
    color: red;
   }
   /**{
    border: solid;
   }
   */ 
   .header{
       background-color: lightblue;
       display: flex;
       justify-content: space-between;
   }

.grid{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

h2, p{
    text-align: center;
}

body{
    background-color: rgb(252, 250, 254);
    padding: 40px;
}